

/** FONTS VARIABLES RELATED **/
$font-regular: "Proxima Nova";
$font-light: "Proxima Nova Light";
$font-bold: "Proxima Nova Bold";

/** COLORS **/
$primary-color: #FFE600;
$secondary-color: #3483FA;
$dark-color: #333333;
$gray-dark: #666666;
$gray-light: #999999;
$light-color: #EEEEEE;
